@font-face {
  font-family: 'NunitoSans-Extrabold';
  src: url("../../assets/fonts/NunitoSans-Extrabold.ttf");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  margin-left: auto;
}

.navbar-brand {
    font-size: 26px;
    vertical-align: top;
    color: #33ffff;
}

.navbar-brand a:hover {
  color: #333333 !important;
}

.nav-label {
  color: #33ffff !important;
  font-size: 10pt;
}

.icon-bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
}

.divider {
  border-top: 1px solid orange;
}

.menu-item-a {
  height: 25px;
}

.menu-item-label {
  right: 15px;
  width: 300px;
  text-align: right;
}

.toolbar-background {
  background-color: goldenrod;
}

.logo {
  width: 120px;
}

.logo-narrow {
  display: none;
}

@media screen and (max-width: 910px) {
  .logo-narrow {
    width: 40px;
    margin: auto;
    padding: 5px;
    display: block;
  }

  .logo, .logo-text {
    display: none;
  }
}

.logo-text {
  font-family: NunitoSans-Extrabold;
  font-size: medium;
}

.page-title {
  margin: auto;
  padding: 5px;
  font-family: NunitoSans-Extrabold;
  font-size: medium;
}

.border-4 {
  border-width:4px !important;
}

@media screen and (max-width: 910px) {
  .larger {
    font-size: large;
  }
}