<div class="d-flex pl-2 pt-1 py-md-2 border-bottom shadow-sm toolbar-background">
  <div class="d-flex flex-row w-100 justify-content-between">
    <div class="d-flex flex-row align-items-center">
      <div class="d-flex flex-column">
        <img class="logo" src='/assets/images/scouts-black.svg'>
        <img class="logo-narrow" src='/assets/images/fleur-de-lis-marque-black-png.png'>
        <label class="logo-text">7th Camberwell</label>
      </div>
      <div class="d-flex flex-column">
        <label class="page-title">{{currentPageTitle}}</label>
      </div>
    </div>
  </div>
</div>