<div class="d-flex flex-column h-100 px-1">
    <div class="d-flex flex-row h-100">
        <div class="h-100 w-100 mb-1">
          <div class="card shadow h-100">
            <div class="d-flex card-header px-2 px-md-3 py-2 py-md-3 flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">An error has occurred.<br/>Please contact your Scout leader</h6>
            </div>
            <p>{{currentErrorMessage}}</p>
        </div>
    </div>
</div>