.main-label {
    font-family: NunitoSans-Extrabold;
    font-size: large;
}

.sidebar {
    width: 300px;
}

.coding-area {
    width: 100%;
}

::ng-deep ngb-modal-backdrop {
    z-index: 1050 !important;
}

.close-x {
    font-family: NunitoSans-Extrabold;
    font-size: large;
}

.input-code {
    resize: none;
    border: none;
    font-family: monospace;
    font-size: large;
}

.input-code:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
  }

.input-event-handler-link {
    font-family: NunitoSans-Extrabold;
    font-size: medium;
}

.selected-input-event-handler-link {
    box-sizing: border-box;
    border-top: 2px solid crimson;
    border-left: 2px solid crimson;
    border-right: 2px solid crimson;
    border-bottom: 2px solid crimson;
}

.running-code-background {
    background-color: #806c757d !important;
}